{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "Installing homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo "Installing brew packages..."
brew bundle --file=/dev/stdin <<EOF
brew "curl"
brew "git"
brew "jq"
brew "gron"
brew "ripgrep"
brew "tree"
brew "wget"
brew "zsh"
cask "bitwarden"
cask "google-drive"
cask "arc"
cask "expressvpn"
cask "iterm2"
cask "licecap"
cask "obsidian"
cask "bruno"
cask "raycast"
cask "slack"
cask "spotify"
cask "visual-studio-code"
cask "zoom"
EOF
{{ end -}}
