{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "curl"
brew "git"
brew "jq"
brew "ripgrep"
brew "tree"
brew "wget"
brew "zsh"
cask "authy"
cask "bitwarden"
cask "google-chrome"
cask "iterm2"
cask "licecap"
cask "obsidian"
cask "postman"
cask "raycast"
cask "slack"
cask "spotify"
cask "visual-studio-code"
cask "zoom"
EOF
{{ end -}}
