#!/usr/bin/env bash

echo "Checking for packages to remove"

did_remove_package=false

{{ if and (eq .chezmoi.os "darwin") (lookPath "brew") }}

    {{ range $package := .packages.homebrew.to_remove }}
    if brew list | grep "{{ $package }}" &> /dev/null; then
        did_remove_package=true
        brew uninstall "{{ $package }}"
    fi

    {{ end }}
{{ end }}