{{- $id := dig "id" "" .chezmoi.osRelease -}}
{{- $idLike := dig "idLike" "" .chezmoi.osRelease -}}
{{- $debian := and (eq .chezmoi.os "linux") (or (eq $id "debian") (contains "debian" $idLike)) -}}
#!/usr/bin/env bash

echo "Checking for packages to remove"

{{ if and (eq .chezmoi.os "darwin") (lookPath "brew") }}

    {{ range $package := .packages.homebrew.to_remove }}
    if brew list | grep "{{ $package }}" &> /dev/null; then
        brew uninstall "{{ $package }}"
    fi

    {{ end }}
{{ end }}

{{ if and $debian (lookPath "apt-get") }}

{{ template "debian_apt.bash" . }}

    {{ range $package := .packages.apt.to_remove }}
    if dpkg-query -W -f='${Status}' "{{ $package }}" 2>/dev/null | grep -q "^install ok installed$"; then
        apt_get remove -y "{{ $package }}"
    fi

    {{ end }}
{{ end }}
