{{- if and (eq .chezmoi.os "darwin") (.dev_computer) -}}
#!/usr/bin/env bash

# hash of the mise config file, used to determine if we need to rerun this script
# mise/config.toml.tmpl hash: {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}

mise install -y

{{- end }}