#!/usr/bin/env sh

### Path
export PATH={{ .chezmoi.homeDir }}/.local/bin:$PATH

### Language / Fonts
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

### editor
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='vim'
fi

### Bitwarden SSH Agent
export SSH_AUTH_SOCK={{ .chezmoi.homeDir }}/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock

### AWS CLI
export AWS_CONFIG_FILE={{ .xdgConfigDir }}/aws/config
export AWS_SHARED_CREDENTIALS_FILE={{ .xdgConfigDir }}/aws/credentials
export AWS_PROFILE=runpod