#!/usr/bin/env bash

# Bitwarden
[ ! -f "{{ .bwSessionFile }}" ] || source "{{ .bwSessionFile }}"

### GitHub
export GH_TOKEN={{ (bitwardenFields "item" .bitwarden.items.github).token.value }}
export GITHUB_TOKEN="$GH_TOKEN"
