### antigen
[ ! -f "{{ .xdgScriptsDir }}/antigen.zsh" ] || source "{{ .xdgScriptsDir }}/antigen.zsh"

if command -v antigen > /dev/null; then
  # Official Oh-My-ZSH plugins
  antigen use oh-my-zsh

  # Bundles from the default repo (robbyrussell's oh-my-zsh).
  antigen bundle git
  antigen bundle brew
  antigen bundle common-aliases
  antigen bundle history-substring-search
  antigen bundle command-not-found

  # Syntax highlighting bundle.
  antigen bundle zsh-users/zsh-syntax-highlighting

  # Load the theme.
  antigen theme robbyrussell

  # Tell Antigen that you're done.
  antigen apply
fi

### aliases
[ ! -f "{{ .xdgConfigDir }}/shell/aliases.sh" ] || source "{{ .xdgConfigDir }}/shell/aliases.sh"

### exports
[ ! -f "{{ .xdgConfigDir }}/shell/exports.sh" ] || source "{{ .xdgConfigDir }}/shell/exports.sh"

### private
[ ! -f "{{ .xdgConfigDir }}/shell/private.sh" ] || source "{{ .xdgConfigDir }}/shell/private.sh"

### mise
! command -v mise > /dev/null || eval "$(mise activate zsh)"
