[tools]
    # languages
    node = 'lts'
    python = '3'
    go = '1'
    java = '17'
    # ruby = '3'
    rust = '1.89'
    # tools
    maven = '3'
    gradle = '8'

[settings]
    # configure `mise install` to always keep the downloaded archive
    always_keep_download = false # deleted after install by default