[user]
  name = Stephen Elson
  email = {{ .email }}

[github]
   user = {{ .github_user }}
{{ if lookPath "gh" -}}
[credential]
  helper = !gh auth git-credential
{{ end -}}
{{ if .dev_computer -}}
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
{{ end -}}
