[user]
  name = Stephen Elson
  email = {{ .email }}

[github]
   user = {{ .github_user }}
{{ if lookPath "gh" -}}
[credential]
  # Empty value resets helpers inherited from system config (Homebrew sets
  # osxkeychain, whose stored github.com login can be the wrong account).
  helper =
  helper = !gh auth git-credential
{{ end -}}
{{ if .dev_computer -}}
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
{{ end -}}
{{ if .work_computer -}}
[includeIf "hasconfig:remote.*.url:https://github.com/dash0hq/**"]
  path = dash0.inc
[includeIf "hasconfig:remote.*.url:git@github.com:dash0hq/**"]
  path = dash0.inc
{{ end -}}
